body {
  background-image: url(images/bg.png);
}
h1,
h2 {
  text-align: center;
  margin-bottom: 30px;
}
pre {
  border: none!important;
  background-color: transparent!important;
  text-align: right;
}
.tips {
  text-align: right;
  display: inline-block;
  color: #0091F4;
  float: right;
  border-right: 2px solid #0091F4;
  padding: 0 5px;
  background-color: #daedfa;
}
.test-block {
  height: 100px;
  width: 100px;
  background-color: #0091f4;
  display: block;
}
.test-block_white {
  background-color: #0091f4;
}
.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.border-radius {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.background-size {
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  -o-background-size: 50px;
  background-size: 50px;
  background-image: url(http://getimg.in/100x100);
  background-repeat: no-repeat;
}
.opacity {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.appearance {
  -webkit-appearance: button;
  appearance: button;
}
.gradient {
  background: #39b991;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #71e12d), color-stop(1, #0091f4));
  background: -moz-linear-gradient(center top, #71e12d 0%, #0091f4 100%);
}
.drop-shadow {
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
}
.inner-shadow {
  -webkit-box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.8);
  box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.8);
}
.inner-border {
  -webkit-box-shadow: inset 0 0 0 5px #ffc0cb;
  -moz-box-shadow: inset 0 0 0 5px #ffc0cb;
  box-shadow: inset 0 0 0 5px #ffc0cb;
}
.box-shadow {
  -webkit-box-shadow: 2px 4px 10px #71e12d;
  -moz-box-shadow: 2px 4px 10px #71e12d;
  box-shadow: 2px 4px 10px #71e12d;
}
.transition {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
.transition:hover {
  width: 200px;
  background-color: #71e12d;
}
.transition-delay {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.transition-delay:hover {
  width: 200px;
  background-color: #71e12d;
}
.transition-duration {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.transition-duration:hover {
  width: 200px;
  background-color: #71e12d;
}
.rotation {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  transform: rotate(20deg);
}
.scale {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
.translate {
  -moz-transform: translate(100px, 0);
  -webkit-transform: translate(100px, 0);
  -o-transform: translate(100px, 0);
  -ms-transform: translate(100px, 0);
  transform: translate(100px, 0);
}
.translate3d {
  -webkit-transform: translate3d(200px, 50px, 50px);
  -moz-transform: translate3d(200px, 50px, 50px);
  -o-transform: translate3d(200px, 50px, 50px);
  transform: translate3d(200px, 50px, 50px);
}
.background-clip {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  /* The yellow background will not go behind the border */
  border: 5px navy;
  border-style: dotted double;
  background: #71e12d;
}
.columns {
  -moz-column-width: 40px;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -moz-column-rule-color: #999999;
  -moz-column-rule-style: solid;
  -moz-column-rule-width: 1px;
  -webkit-column-width: 40px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  -webkit-column-rule-color: #999999;
  -webkit-column-rule-style: solid;
  -webkit-column-rule-width: 1px;
  column-width: 40px;
  column-count: 3;
  column-gap: 20px;
  column-rule-color: #999999;
  column-rule-style: solid;
  column-rule-width: 1px;
}
.font-face {
  font-family: Bilbo;
  font-size: 30px;
}
@font-face {
  font-family: Bilbo;
  font-style: normal;
  font-weight: normal;
  src: url('Bilbo-Regular.eot');
  src: local('@fontFamily'), url('Bilbo-Regular.eot?#iefix') format('embedded-opentype'), url('Bilbo-Regular.woff') format('woff'), url('Bilbo-Regular.ttf') format('truetype'), url('Bilbo-Regular.svg#Bilbo') format('svg'), url("Bilbo-Regular.otf") format('opentype');
}
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: '';
  display: block;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.word-break {
  width: 200px;
  background-color: #71e12d;
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
}
.no-wrap {
  width: 200px;
  background-color: #71e12d;
  word-break: normal;
  word-wrap: normal;
  white-space: nowrap;
}
.text-overflow {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.line-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border-color: #0091f4 transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  border-width: 10px 10px 0 10px;
}
.triangle-double {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  border-color: #0091f4 transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  border-width: 10px 10px 0 10px;
}
.triangle-double:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
}
.triangle-double:after {
  left: -10px;
  top: -11px;
  border-color: #ffffff transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  border-width: 10px 10px 0 10px;
}
.demo-box .col-6 {
  margin-bottom: 10px;
}
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px auto;
  width: 450px;
  display: block;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
.footer {
  border-top: 1px solid #E5E5E5;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}
